.example-spacer {
  flex: 1 1 auto;
}

.outer {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  max-width: 1440px;
  width: 100%;
  margin-top: 32px;
  margin-left: 64px;
  margin-right: 64px;
}
