.example-form {
  margin-top: 16px;
  margin-bottom: 4px;
  margin-left: 16px;
  min-width: 150px;
  max-width: 640px;
  width: 100%;
  height: auto;
  > button {
    margin-top: 8px;
    margin-right: 8px;
  }
}

.example-full-width {
  width: 100%;
}

td:first-child {
  padding-right: 8px;
}
